.container{
	@extend .common-border-top;
	@extend .common-border-bottom;
	@extend .common-container;
	margin-top: 1rem;
	box-sizing:border-box;
	.header{
		width: 100%;
		overflow: hidden;
		padding: 1.6rem 0;
		h3{
			width: 100%;
			text-align: center;
			font-size: 1.8rem;
			line-height: 1;
			color: #000000;
			margin: 0;
			vertical-align: middle;
			span{
				display: inline-block;
			}
		}
	}
}

.hot-image-content{
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;

	&::-webkit-scrollbar {
	    display: none;
	}

	.see-more-panel{
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 6.6rem;

		.see-more-wrapper{
			position:absolute;
			top: 4.6rem;
			left: 50%;
    		transform: translate(-50%, 0);

			.see-more-icon{
				display: block;
				width: 2.8rem;
				height: 2.8rem;
				background-color: #000000;
				opacity: 0.75;
				margin: 0 auto;
			}

			p{
				margin: 0.7rem auto;
			}
		}
	}
}