.customer-info-wrapper{
	margin-bottom: 8rem;
}
.order-info-wrapper{
	background-color: #FFFFFF;
	border-top: 2px solid rgba(0,0,0,0.25);
	border-bottom: 2px solid rgba(0,0,0,0.25);
	margin: 0.8rem 0;
	display: table;
    width: 100%;
    box-sizing: border-box;
}

.order-info-area{
	padding: 1rem 1rem;
	display: table;
    width: 100%;
    box-sizing: border-box;
    font-size:1.4rem;

	.order-label{
		padding: 0 0.6rem;
		width: 5.6rem;
		min-width: 5.6rem;
		line-height: 2rem;
    	display: table-cell;
    	vertical-align: middle;

    	&.address-label{
    		vertical-align: top;
    	}
	}

	.order-input{
		display: table-cell;
		width: 100%;
		vertical-align: middle;
		border:none;
		font-size: 1.4rem;

		&.address-input{
			resize: none;
			overflow:hidden;
			outline: none;
			height: 2rem;
			min-height: 2rem;
			padding: 0;
		}
	}
}

//Disable arrows for inputs in type of number
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
.shirt-number-area{
	.order-number-input-area{
		display: inline-block;
		float: right;
		.minus-button,
		.plus-button{
			background-color: rgba(0,0,0,0.12);
			display: inline-block;
			padding: 0;
			border: none;
			height: 2rem;
			width: 2rem;
			font-size: 1.4rem;
			line-height: 1.4rem;
			text-align: center;
			vertical-align: middle;
			color: #000000;
		}
		.order-number-input{
			display: inline-block;
			width: 3.2rem;
			height: 2rem;
			margin: 0 0.4rem;
			border: 1px solid #000000;
			vertical-align: middle;
			text-align: center;
			border-radius: 0;
			-webkit-border-radius: 0;
            -moz-border-radius: 0;
		}
	}
	&:after{
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

.district-info-wrapper{
	width: 100%;
	display: table;
	select{
		display: table-cell;
		border: none;
		background-color: #FFFFFF;
		background-image: none;
		text-align-last: center;
		font-size: 1.4rem;
		vertical-align: middle;
		height: 2rem;
	}

	.province-select{
		width: 33.3%;
	}

	.city-select{
		width: 33.3%;
	}

	.district-select{
		width: 33.4%;
	}
}

.faq-area{
	.order-label{
		display: inline-block;
	}

	.right-arrow{
		display:inline-block;
		float: right;
		width: 24px;
		height: 24px;
		background-color: #EEEEEE;
	}
	&:after{
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}