$tabNavHeight : 5.5rem;
$settingHeight : 6.2rem;

body{
	background-color: #FFFFFF!important;
}
.customize-buttons-container{
	padding: 1.2rem;
	background-color: #FFFFFF;
	.customize-button{
		width: 49%;
		height: 4rem;
		border: 0.3rem solid #000000;
		font-size: 1.4rem;
		padding: 0;

		&.customize-button-back{
			margin-right: 1%;
			background-color: #FFFFFF;
			color: #000000;
		}

		&.customize-button-complete{
			margin-left: 1%;
			background-color: #000000;
			color: #FFFFFF;
		}
	}
}


.customize-tab-nav-container{
	height: $tabNavHeight;
	width: 100%;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #000000;
	background-color: #FFFFFF;

	ul{
		margin: 0;
		padding: 0;
		height: 100%;

		li{
			display: inline-block;
			width: 25%;
			height: 100%;
			overflow: hidden;
			.customize-tab-wrapper{
				font-size: 0.8rem;
				color: #000000;

				&>span{
					display: block;
					margin: 0.6rem auto;
				}

				&>div{
					display: block;
					margin: 0 auto;
					line-height: 100%;
    				text-align: center;
    				margin: 0 auto;
				}
			}

			.cloth-type-icon{
				@extend .sprite-tshirt-black;
			}

			.cloth-color-icon{
				@extend .sprite-color-black;
			}

			.image-size-icon{
				@extend .sprite-size-black;
			}

			.image-position-icon{
				@extend .sprite-location-black;
			}

			&.active{
				background-color: #000000;
				.customize-tab-wrapper{
					font-size: 0.8rem;
					color: #FFFFFF;
				}

				.cloth-type-icon{
					@extend .sprite-tshirt-white;
				}

				.cloth-color-icon{
					@extend .sprite-color-white;
				}

				.image-size-icon{
					@extend .sprite-size-white;
				}

				.image-position-icon{
					@extend .sprite-location-white;
				}
			}
		}
	}


}

.setting-panel-container{
	bottom: $tabNavHeight;
	width: 100%;
	position: fixed;
	height: $settingHeight;
	border-top: 1px solid #000000;
	background-color: #FFFFFF;
}