.order-page-root{
	height: 100%;
	background-color: rgba(0, 0, 0, 0.05);
}
.shirt-info-summary-container{
	height: 15rem;
	width: 100%;
	padding: 1.2rem;
	background-color: #FFFFFF;
	display: table;
	border-bottom: 2px solid rgba(0,0,0,0.25);
	box-sizing: border-box;
}

.shirt-thumbnail{
	display: inline-block;
	vertical-align: middle;
	display: table-cell;
	.shirt-showing-area{
		position: static;
		top: auto;
		bottom: auto;
		width: 11rem;
		height: 12.8rem;
		.shirt-container{
			padding: 0;
			.image-wrapper{
				border: none!important;
			}
		}
	}
}

.shirt-summary{
	display: inline-block;
	vertical-align: middle;
	display: table-cell;
	width:100%;
	.summary-content{
		.summary-label,
		.summary-value,
		.summary-price{
			display:inline-block;
		}

	}
}