.setting-panel-container{
	width: 100%;

	ul{
		margin: 0;
		padding: 0;
		text-align: center;

		li{
			display: inline-block;
			width: 25%;
			height: 100%;
			overflow:hidden;
			a{
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				-webkit-tap-highlight-color: transparent; 
			}
			.customize-tab-wrapper{
				font-size: 0.8rem;
				color: #000000;

				&:active{
					background-color: transparent;
				}

				&>span{
					display: block;
					margin: 1rem auto;
				}

				&>div{
					display: block;
					margin: 0 auto;
					line-height: 100%;
    				text-align: center;
    				margin: 0 auto;
				}
			}


			.man-normal,
			.man-loose,
			.woman-loose,
			.woman-normal{
				@extend .sprite-select-white;
			}

			.white-color{
				@extend .sprite-select-color-white;
			}

			.black-color{
				@extend .sprite-select-color-black;
			}

			.grey-color{
				@extend .sprite-select-color-grey;
			}

			&.active{
				.man-normal,
				.man-loose,
				.woman-loose,
				.woman-normal{
					@extend .sprite-select-black;
				}


				.white-color{
					@extend .sprite-selected-color-white;
				}

				.black-color{
					@extend .sprite-selected-color-black;
				}

				.grey-color{
					@extend .sprite-selected-color-grey;
				}
			}
		}
	}
}