.setting-panel-container{
	width: 100%;

	ul{
		margin: 0;
		padding: 0;
		text-align: center;

		li{
			display: inline-block;
			width: 25%;
			height: 100%;
			.customize-tab-wrapper{
				font-size: 0.8rem;
				color: #000000;
			}

			.man-normal,
			.man-fit,
			.woman-loose,
			.woman-normal{
				@extend .sprite-select-white;
			}

			.white-color{
				@extend .sprite-select-color-white;
			}

			.black-color{
				@extend .sprite-select-color-black;
			}

			.grey-color{
				@extend .sprite-select-color-grey;
			}

			&.active{
				.man-normal,
				.man-fit,
				.woman-loose,
				.woman-normal{
					@extend .sprite-select-black;
				}


				.white-color{
					@extend .sprite-selected-color-white;
				}

				.black-color{
					@extend .sprite-selected-color-black;
				}

				.grey-color{
					@extend .sprite-selected-color-grey;
				}
			}
		}
	}
}