input{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid #000000;
	border-radius: 0;
	margin: 0;
}
.setting-panel-container{
	width: 100%;

	ul{
		margin: 0;
		padding: 0;
		text-align: center;

		li{
			display: inline-block;
			width: 25%;
			height: 100%;
			overflow:hidden;
			a{
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				-webkit-tap-highlight-color: transparent; 
			}
			.customize-tab-wrapper{
				font-size: 0.8rem;
				color: #000000;

				&:active{
					background-color: transparent;
				}

				&>span{
					display: block;
					margin: 1rem auto;
				}

				&>div{
					display: block;
					margin: 0 auto;
					line-height: 100%;
    				text-align: center;
    				margin: 0 auto;
				}
			}


			.man-normal,
			.man-loose,
			.woman-loose,
			.woman-normal{
				@extend .sprite-select-white;
			}

			.white-color{
				@extend .sprite-select-color-white;
			}

			.black-color{
				@extend .sprite-select-color-black;
			}

			.grey-color{
				@extend .sprite-select-color-grey;
			}

			&.active{
				.man-normal,
				.man-loose,
				.woman-loose,
				.woman-normal{
					@extend .sprite-select-black;
				}


				.white-color{
					@extend .sprite-selected-color-white;
				}

				.black-color{
					@extend .sprite-selected-color-black;
				}

				.grey-color{
					@extend .sprite-selected-color-grey;
				}
			}
		}
	}

	.input-container{
		display: table;
		padding: 1.1rem;
		box-sizing: border-box;
		border: none;

		.setting-input{
			display: table-cell;
			padding: 0.9rem;
			width: 100%;
			border: 1px solid #000000;
			font-size: 1.4rem;
			color: rgba(0, 0, 0 ,1);
			vertical-align: middle;
			&::-webkit-input-placeholder,
			&:-moz-placeholder,
			&::-moz-placeholder,
			&:-ms-input-placeholder{
				color: rgba(0, 0, 0, 0.25);
			}
		}
	}

	

	.dropup-container{
		display: table;
		padding: 0.5rem 0.6rem;
		box-sizing: border-box;
		.selector-wrapper{
			display: table-cell;
			padding: 0.6rem;
			width: 50%;
			.dropup{
				position: relative;
			}
		}

		&.text-font-container .selector-wrapper{
			width: 100%;
		}

		.btn.setting-panel-dropdup{
			border: 1px solid #000000;
			background-color: #FFFFFF;
			position: relative;
			height: 4rem;
			width:100%;
			font-size: 1.4rem;
			line-height: 4rem;
			text-align: left;
			vertical-align: middle;
			padding-left: 0.9rem;
			padding-right: 0;

			.caret{
				border: none;
				position: absolute;
			    right: 0.9rem;
			    top: 50%;
			    transform: translate(0,-50%);
				@extend .sprite;
				@extend .sprite-linearrow-down-black;
			}
		}

		ul{
			width: 100%;
			height: auto;
			z-index: 1000;
			position: absolute;
			background-color: #FFFFFF;
			border-top: 1px solid #000000;
			border-left: 1px solid #000000;
			border-right: 1px solid #000000;
			border-bottom: none;
			top: auto;
			bottom: 100%;
			display: none;
			box-sizing: border-box;
		}
		.open ul{
			display: block;
		}
		li{
			display:block;
			width: 100%;
			height: 3.5rem;
			border-bottom: 1px solid rgba(0,0,0,0.25);
			a{
				text-align: left;
				font-size: 1.4rem;
				line-height: 3.5rem;
				text-decoration: none;
				display: block;
				padding-left: 0.9rem;
				color: #000000;
				position: relative;
				.check-mark{
					width: 24px;
					height: 24px;
					display: inline-block;
					position: absolute;
			    	right: 0.9rem;
			    	top: 50%;
			    	transform: translate(0,-50%);
					&.checked{
						@extend .sprite;
						@extend .sprite-selected-black;
					}
				}
			}
			&:last-child{
				border-bottom: none;
			}

			
		}
	}
}