.image-wrapper {
    background-color: #000000;
    position: relative;

    &.image-in-sale-wrapper{
	    width: 12rem;
	    height: 14rem;
    }

    &.theme-image-wrapper{
    	width: 10.9rem;
    	height: 12.7rem;
    	
    }

    div, img {
	    width: 100%;
	    height: 100%;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    position: absolute;
	    background-position: center center;
	    background-size: cover;
	}
}

.in-list{
	.image-wrapper.image-in-sale-wrapper{
	    width: 17rem;
	    height: 20rem;
    }
}

.image-in-sale-container{
	display: inline-block;
    margin: 0 0.6rem;

	.top-info {
		&:after {
			visibility: hidden;
		    display: block;
		    font-size: 0;
		    content: " ";
		    clear: both;
		    height: 0;
		}

		.image-title {
			margin: 0;
			font-size: 1.2rem;
			color: rgba(0,0,0,1);
			float: left;
		}

		.image-theme {
			border: 0.1rem solid rgba(0,0,0,1);
			border-radius: 0.6rem;
			height: 1.4rem;
			font-size: 0.8rem;
			color: rgba(0,0,0,1);
			padding: 0.3rem 0.5rem;
			float: right;
		}
	}

	.image-price{
		text-align: left;
	}
}

.theme-container{
	display: inline-block;
	margin: 0 0.6rem;
}