.sprite-font {
    background-image: url("/images/sprite/sprite-font-20.png");
    background-repeat: no-repeat;
    display: block;
    background-size: 250px 270px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dppx){
    .sprite-font {
        background-image: url("/images/sprite/sprite-font-40.png");
    }
}


.sprite-font-NotoSansSChinese-ExtraHeavy {
    width: 214px;
    height: 20px;
    background-position: -5px -5px;
}

.sprite-font-NotoSansSChinese-Light {
    width: 240px;
    height: 20px;
    background-position: -5px -35px;
}

.sprite-font-SourceHanSerifSC-ExtraLight {
    width: 240px;
    height: 20px;
    background-position: -5px -65px;
}

.sprite-font-SourceHanSerifSC-Heavy {
    width: 240px;
    height: 20px;
    background-position: -5px -95px;
}

.sprite-font-whz_chaomingtifan {
    width: 240px;
    height: 20px;
    background-position: -5px -125px;
}

.sprite-font-whz_cumingtifan {
    width: 240px;
    height: 20px;
    background-position: -5px -155px;
}

.sprite-font-whz_kantingliufan {
    width: 240px;
    height: 20px;
    background-position: -5px -185px;
}

.sprite-font-whz_temingtifan {
    width: 240px;
    height: 20px;
    background-position: -5px -215px;
}

.sprite-font-whz_zhongkaitizhuyin {
    width: 240px;
    height: 20px;
    background-position: -5px -245px;
}
