@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dppx){
.sprite {
    background-image: url("/images/sprite-icons-48.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 170px 136px;
}
}

/*
.sprite-color-black {
    width: 48px;
    height: 48px;
    background-position: -10px -10px;
}

.sprite-color-white {
    width: 48px;
    height: 48px;
    background-position: -78px -10px;
}

.sprite-left-arrow-black {
    width: 48px;
    height: 48px;
    background-position: -146px -10px;
}

.sprite-loading {
    width: 48px;
    height: 48px;
    background-position: -214px -10px;
}

.sprite-location-black {
    width: 48px;
    height: 48px;
    background-position: -10px -78px;
}

.sprite-location-white {
    width: 48px;
    height: 48px;
    background-position: -78px -78px;
}

.sprite-next-black {
    width: 48px;
    height: 48px;
    background-position: -146px -78px;
}

.sprite-select-black {
    width: 48px;
    height: 48px;
    background-position: -214px -78px;
}

.sprite-select-color-black {
    width: 48px;
    height: 48px;
    background-position: -10px -146px;
}

.sprite-select-color-gray {
    width: 48px;
    height: 48px;
    background-position: -78px -146px;
}

.sprite-select-color-white {
    width: 48px;
    height: 48px;
    background-position: -146px -146px;
}

.sprite-select-white {
    width: 48px;
    height: 48px;
    background-position: -214px -146px;
}

.sprite-selected-color-black {
    width: 48px;
    height: 48px;
    background-position: -10px -214px;
}

.sprite-selected-color-gray {
    width: 48px;
    height: 48px;
    background-position: -78px -214px;
}

.sprite-selected-color-white {
    width: 48px;
    height: 48px;
    background-position: -146px -214px;
}

.sprite-size-black- {
    width: 48px;
    height: 48px;
    background-position: -214px -214px;
}

.sprite-size-white {
    width: 48px;
    height: 48px;
    background-position: -282px -10px;
}

.sprite-tshirt-black {
    width: 48px;
    height: 48px;
    background-position: -282px -78px;
}

.sprite-tshirt-white {
    width: 48px;
    height: 48px;
    background-position: -282px -146px;
}
*/