@import "./sprite-images-24";
@import "./sprite-images-48";


.sprite-color-black {
    width: 24px;
    height: 24px;
    background-position: -5px -5px;
}

.sprite-color-white {
    width: 24px;
    height: 24px;
    background-position: -39px -5px;
}

.sprite-left-arrow-black {
    width: 24px;
    height: 24px;
    background-position: -73px -5px;
}

.sprite-loading {
    width: 24px;
    height: 24px;
    background-position: -107px -5px;
}

.sprite-location-black {
    width: 24px;
    height: 24px;
    background-position: -5px -39px;
}

.sprite-location-white {
    width: 24px;
    height: 24px;
    background-position: -39px -39px;
}

.sprite-next-black {
    width: 24px;
    height: 24px;
    background-position: -73px -39px;
}

.sprite-select-black {
    width: 24px;
    height: 24px;
    background-position: -107px -39px;
}

.sprite-select-color-black {
    width: 24px;
    height: 24px;
    background-position: -5px -73px;
}

.sprite-select-color-grey {
    width: 24px;
    height: 24px;
    background-position: -39px -73px;
}

.sprite-select-color-white {
    width: 24px;
    height: 24px;
    background-position: -73px -73px;
}

.sprite-select-white {
    width: 24px;
    height: 24px;
    background-position: -107px -73px;
}

.sprite-selected-color-black {
    width: 24px;
    height: 24px;
    background-position: -5px -107px;
}

.sprite-selected-color-grey {
    width: 24px;
    height: 24px;
    background-position: -39px -107px;
}

.sprite-selected-color-white {
    width: 24px;
    height: 24px;
    background-position: -73px -107px;
}

.sprite-size-black {
    width: 24px;
    height: 24px;
    background-position: -107px -107px;
}

.sprite-size-white {
    width: 24px;
    height: 24px;
    background-position: -141px -5px;
}

.sprite-tshirt-black {
    width: 24px;
    height: 24px;
    background-position: -141px -39px;
}

.sprite-tshirt-white {
    width: 24px;
    height: 24px;
    background-position: -141px -73px;
}