.nav-pills{
	height: 4rem;
	margin: 0;
	padding: 0;
	@extend .common-container;
	@extend .common-border-bottom;
	li{
		display: inline-block;
		width: 50%;
		height: 100%;
		text-align: center;

		a,
		a:active{
			height: 100%;
			vertical-align: middle;
			padding-bottom: 0.65rem;
			line-height: 3.5rem;
			font-size: 1.4rem;
			text-decoration: none;
			color: black;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-tap-highlight-color: transparent; 
		}

		&.active a,{
			border-bottom: 0.4rem solid #000000;
		}
		&.disabled a {
			color: rgba(0,0,0,0.25);
		}
	}
}